api/src/main/resources/orgs-simple.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dhis2.org/schema/dxf/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="metaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="organisationUnits">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="organisationUnit" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="parent">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="code" use="optional"/>
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                            <xs:attribute type="xs:string" name="created" use="optional"/>
                            <xs:attribute type="xs:string" name="lastUpdated" use="optional"/>
                            <xs:attribute type="xs:anyURI" name="href" use="optional"/>
                            <xs:attribute type="xs:string" name="id" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:date" name="openingDate" minOccurs="0"/>
                    <xs:element type="xs:date" name="closedDate" minOccurs="0"/>
                    <xs:element type="xs:string" name="active"/>
                    <xs:element type="xs:string" name="geoCode" minOccurs="0"/>
                    <xs:element type="xs:string" name="featureType" minOccurs="0"/>
                    <xs:element type="xs:string" name="coordinates" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="code" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="created" use="optional"/>
                  <xs:attribute type="xs:string" name="lastUpdated" use="optional"/>
                  <xs:attribute type="xs:string" name="shortName" use="optional"/>
                  <xs:attribute type="xs:byte" name="level" use="optional"/>
                  <xs:attribute type="xs:anyURI" name="href" use="optional"/>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>